vaadin-app-layout vaadin-tab {
  font-size: var(--lumo-font-size-xs);
  padding-left: 0.75em;
  padding-right: 0.75em;
  cursor: pointer;
}

vaadin-app-layout vaadin-tab a:hover {
  text-decoration: none;
}

vaadin-app-layout vaadin-tab:not([selected]) a {
  color: var(--lumo-contrast-60pct);
}

vaadin-app-layout vaadin-tabs {
  max-width: 65%;
}

@media (min-width: 700px) {
  vaadin-app-layout vaadin-tab {
    font-size: var(--lumo-font-size-m);
    padding-left: 1em;
    padding-right: 1em;
  }
}

vaadin-app-layout vaadin-tab vaadin-icon {
  margin: 0 4px;
  width: var(--lumo-icon-size-m);
  height: var(--lumo-icon-size-m);
  padding: 0.25rem;
  box-sizing: border-box !important;
}