/* responsive view padding */
.booking-view {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
}

@media (max-width: 800px){
    .booking-view {
        padding: 8px;
        justify-content: flex-end;
    }
}

@media (max-width: 800px){
    .booking-view * {
        font-size: var(--lumo-font-size-xs);
    }
}