/* List view */
.membermanagement-view .content {
    display: flex;
    gap: 20px;
}

.membermanagement-view .content-grid {
    flex: 2;
}

.membermanagement-view .content-form {
    flex: 1;
    padding: var(--lumo-space-m);
    background-color: green;
}

.membermanagement-view .toolbar {
    flex: 2;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .membermanagement-view.editing .toolbar,
    .membermanagement-view.editing .content-form {
        display: none;
    }
}